.header {
  text-align: center;
  margin-top: 80px;
}

.header p {
  font-size: 16px;
  color: #282828;
}

.header h1 {
  font-size: 54px;
  color: #282828;
}

.header h6 {
  color: #5f6980;
  font-size: 20px;
}

.main {
  display: flex;
  margin-top: 48px;
  margin-left: 52px;
  justify-content: space-between;
}

.main2 {
  display: flex;
  margin-top: 84px;
  margin-left: 52px;
  justify-content: space-between;
}

.foot {
  
  background-color: #53535354;
  margin-top: 100px;
}

.footerflex {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  background: #b5afaf;
  margin-top: 50px;
}
.footer {
  justify-content: space-between;
  justify-content: center;
  width: 310px;
  height: 430px;
  padding: 50px;
}
.footerflex p {
  display: flex;
  font-size: 14px;
  color: #535353;
  margin-top: 20px;
}
.footerflex h4 {
  font-size: 20px;
  position: absolute;
  color: #1e1e1e;
  padding-top: 20px;
}
.footerflex h6 {
  font-size: 14px;
  margin-top: 50px;
  color: #535353;
  margin-top: -30;
}
.blu {
  display: flex;
  background: #054a68;
  width: 80px;
  height: 45px;
  padding: 14px 16px;
  margin-top: 100px;
}
.blu h5 {
  color: #ffffff;
}

.logo {
  display: flex;
  margin-top: 20px;
  gap: 16px;
}
